.container {
  background: #FFDF65;
  border: 1px solid #FFDF65;
  border-radius: 26px;
  padding: 7px 32px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  color: #636057;
  cursor: pointer;

  &.small {
    max-width: 96px;
  }

  &.medium {
    max-width: 312px; 
  }

  &.large {
    max-width: 452px;
  }

  &.simple {
   background-color: #fff; 
   border: 2px solid #858377;
   color: #858377;
  }
}