.container {
  background-color: #F8F9FA;
  padding: 16px 12px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

.tag {
  margin-top: 48.9px;
}

.title {
  margin-top: 4px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}