.container {
  background-color: #F8F9FA;
  padding: 16px 12px;
}

.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1600px;
}

.tag {
  margin-top: 48.9px;
}

.title {
  margin-top: 4px;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
}

.info-container {
  margin-top: 24px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 24px;

  .img-wrapper {
    border-radius: 50px;
    img {
      border-radius: 50px;
      object-fit: cover;
      width: 100%;
    }
  }
  .info-wrapper {

  }
}

.target-price {
  font-size: 14px;
  color: #636057;
}
.price {
  margin-top: 4.7px;
  font-size: 32px;
  color: #494846;
}

