.container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 71.3px;
  border-bottom: 5px solid #FFDF65;
  width: 100%;
  position: sticky;
  z-index: 10;
  top: 0;

  .wrapper {
    margin: 0 16px;
    width: 100%;
    max-width: 1600px;
    display: flex;
    align-items: center;
  }

  ul {
    display: flex;
    align-items: center;

    li + li {
      margin-left: 48px;
    }
  }

  .log-area {
    display: flex;
    align-items: center;
    margin-left: auto;
    > * + * {
      margin-left: 16px;
    }
  }
}